body {  
    background-color: #050517;  
    color: #d3d5d7;  
    font-family: Arial, sans-serif;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    margin: 0;  
    width: 300px; 

}  

.container {  
    background-color: #ffffff;  
    padding: 20px;  
    border-radius: 5px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

h1 {  
    text-align: center;  
}  

label {  
    display: block;  
    margin: 10px 0 5px; 
    
}  

input[type="text"],  
input[type="email"],  
input[type="password"] {  
    width: 100%;  
    padding: 10px;  
    margin-bottom: 15px;  
    border: 1px solid #d3d5d7;  
    border-radius: 5px;  
}  

button {  
    background-color: #fe5f55;  
    color: #ffffff;  
    border: none;  
    padding: 10px;  
    width: 100%;  
    border-radius: 5px;  
    cursor: pointer; 
    align-content: center; 
}  

button:hover {  
    opacity: 0.9;  
}